.textos-navbar {
    color: #aa6f21!important;
    font-weight: bold!important;
    margin-left: 10px;
    margin-right: 10px;    
}

.background-box.active {
    background-color: #51ff10 !important; /* Cor diferente para destacar */
    border-radius: 10px;
    transition: 0.8s;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-calcular:hover {
    background-color: #228000; /* Cor diferente para destacar */
    border-radius: 10px;
    transition: 0.8s;
    margin-left: 10px;
    margin-right: 10px;
}