.camposdeimput {
    border: #ff9d00 1px solid;
    background-color: white;
}

.camposdeimput-text {
    color: #484848;
    font-size: 14px;
}

.btn-calcular {
    background-color: #51ff10; /* Cor diferente para destacar */
    color: rgb(67, 67, 67);
    transition: 0.4s;
}

.btn-calcular:hover {
    background-color: #ffffff;
    color: rgb(67, 67, 67);
    transition: 0.4s;
}

p {
    color: #484848;
    font-size: 14px;
}